

.pulse {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 30px;
  margin-right: 30px;

  width: 60px;
  height: 60px;
  
  background-color: transparent;
  border: none;

  cursor: pointer;

  z-index: 9999999;

  margin:30px;
  display: block;
  
  border-radius: 50%;
  background: #42db87;
  cursor: pointer;
  box-shadow: 0 0 0 #42db87;
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #42db87;
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #42db87;
    box-shadow: 0 0 0 0 #42db87;
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}